.main {
  display: flex;
  color: dimgray;
  background-color: #F88622;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5%;
}

.imagem {
    padding: 2%;
}

.button {
    border-radius: 0%;
    border: 0px;
    padding: 5%;
}

.linkbtn {
    text-decoration: none;
} 