.flex-me {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
}

.orange {
  background-color: #f88622;
  color: white;
}

.white {
  padding: 5%;
}

label {
  padding: 4px;
}