@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

header,
footer {
  background-color: black;
  color: #f88622;
  font-family: "Roboto", sans-serif;
  background-color: white;
  text-shadow: #282c34;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 15%;
}

footer {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-weight: bold;
  align-content: flex-end;
}

footer a:link, a:visited {
  text-decoration: none;
  color: #f88622;
}

.logo {
  width: 25%;
}

header ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}

header a:hover {
  color: black;
}

footer a:hover {
  color: black;
}

header a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.finalizar {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #F88622;
  padding: 2%;
  text-align: center;
}

@media screen and ( min-width : 300px ) and ( max-width : 569px ) { 
  .footer {
      flex-wrap: wrap;
      align-content: flex-end;
  }
}

